include experimentInclude
section#content
    h2 Welcome #{name}! You r an awesome #{position} dev! I assess u #{score} out of 10!
footer
    p the app to help you study
    ul
    - for(var i=0; i<5; i++)
        li='Li\'s been already displayed '+i+' times'
    ul
        each i in colors
            li=i
script(src="http://127.0.0.1:35729/livereload.js?ext=Chrome&amp;extver=2.1.0")
